body {
	padding-top:150px;
}

/* __________ HEADER _________ */
header {
	position:fixed;
	width:100%;
	top:0;
	z-index: 500;
}

.header {
	margin:0px;
	padding:0px;
}

#headerLogo {
	font-size: 23px;
	margin-left:10px;
	font-weight: bold;
	color:#ff670f;
}

#headerLogin {
	font-size: 18px;
	margin-right:10px;
	color:#ff670f;
}

#headerLogout {
	font-size: 18px;
	margin-right:10px;
	color:#ff670f;
}
/* __________ MENU _________ */

.menuBar {
	background-color:#0c1a1e;
	padding :10px;
}

.menuBar ul :hover {
	background-color:#0c1a1e;
}

.menuBar li :hover {
	background-color:#0c1a1e;
}

.menuBar li a{
	color:#a0a3a4;
	background-color:#0c1a1e;
}

.menuBar a:hover{
	background-color:#0c1a1e;
	color:#ff670f;
}

.menuBar li a {
	font-size: 18px;
	font-weight:700;
	color:#d9d6d6;
}

.menuBar li a :hover {
	font-size: 18px;
}

/* __________ FOOTER _________ */


footer {
	background-color:#0c1a1e;
	min-height:80px;
	max-height:80px;
	font-family:'Open Sans', sans-serif;
	bottom:0px;width:100%;
	margin-top: 50px;
}

.footer-ul {
	list-style-type:none;
	 padding-left:0px;
	 margin-left:2px;
 }

.footer-ul li {
	color:#a0a3a4;
	font-size:12px;
}

.footer-ul li a{
	color:#a0a3a4;
	font-size:12px;
}


.footer-ul li a:hover {
	color:#ff670f;
}
 .heading {
	 font-size:17px;
	 font-weight:700;
	 color:#d9d6d6;
	 margin-bottom:10px;
}


/* __________ FORUM _________ */


#addTopicBtn{
	margin-left:0px;
	margin-top:0px;
}

.addTopicForm {
	margin-top:-50px;
	margin-bottom:100px;
}

.topicTitle {
	font-size: 20px;
	font-weight:bold;
}

.topicDate {
	font-size: 14px;
	color:#ff670f;
}


.postTitle {
	font-size: 18px;
	font-weight:bold;
}

.postDate {
	font-size: 14px;
}

.postList{
	margin:30px;
}

.topicList{
	margin-bottom:100px;
}

/* ___________ LOGIN __________*/

.loginForm{
	margin-top:30px;
}

/* ___________ MY ACCOUNT __________*/

#accountForm{
	margin-top:20px;
}

/* ___________ CONTACT US __________*/

.contactForm{
	margin-top:30px;
}

/* ___________ PLAYERS __________*/

.playersGrid {
	margin-right: 50px;
}

.playerGridInfo p  {
	padding:0px;
	margin:0px;
}

.gridItem{
  padding:12px;
}


/* ___________ PLAYER DETAILS __________*/
.detailsTable td{
	 font-size:14px;
}

.detailsTableHeading {
	 font-size:15px;
	 font-weight:bold;
}

.panel-info{
	margin-bottom:100px;
}

#player_name{
	color:#000;
	font-weight:bold;
	margin-left:30px;
	font-size:22px;
}

/* ___________ RANKING __________*/
.rankingContainer {

}

.rankingTable th,td{
	 font-size:16px;
}

/* ___________ TOURNAMENTS __________*/
.tournImage{
	 margin:15px;
}

/* ___________ SIDEPANEL - RANKING + RECENT POSTS __________*/
.sidePanel {
	position: fixed;
	right:20;
	top:130px;
}

/* ___________ RANKINGPANEL __________*/
.rankingPanel {
	 font-size:14px;
	 padding:10px;
	 border-style: ridge;
	 margin:15px;
}

.rankList li {
	margin-top:5px;
	margin-right:5px;
}

/* ___________ RECENT POSTS PANEL __________*/
.recentPostsPanel {
	padding:10px;
	border-style: ridge;
	margin:15px;
}

.recentPostList {
	margin-left:-20px;
}

.recentPostList li{
 	font-size:15px;
}

.recentPostDesc {
	font-size: 14px;
	overflow:hidden;
}

.recentPostDate {
	font-size: 13px;
}

.panelHeader {
	font-size: 17px;
	font-weight: bold;
}
